@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #1e90ff;
  --gray: #3c3c3c;
  --gray-shade: #eee;
}

body {
  background-color: #fff;
  font-family: "Nunito", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #e5e4e4;
}

::-webkit-scrollbar-thumb {
  background-color: #a2a2a2;
  border-radius: 5px;
}
